.img-fundo{
    background-image: url(firenze.jpg!d);
    background-repeat: no-repeat;
    background-size: 100%;
    }

    .container {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
